:root {
    /* colors */
    --body-bg: #DFDFDF;
    --card-bg: #FFFAF2;
    --icons-bg: #FFFFFF;
    --text-color: #13143C;
    --progress-color: #F17A37;
    /* font-size */
    --fs-16: clamp(0.9rem, 0.7vw, 1rem);
    --fs-18: clamp(1rem, 0.8vw, 1.125rem);
    --fs-24: clamp(1.2rem, 1vw, 1.5rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    place-content: center;
    background-color: var(--body-bg);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

main {
    width: min(100%, 1051px);
    margin: 1rem auto;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(1rem, 5vw, 8rem);
    background-color: var(--card-bg);
    border-radius: clamp(12px, 2vw, 29px);
    padding: clamp(1rem, 4vw, 2.625rem);
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.profile-img {
    width: clamp(50px, 10vw, 100px);
}

.social-media img {
    width: clamp(16px, 10vw, 32px);
}

.profile-text h1 {
    font-size: var(--fs-24);
}

.profile-text h2 {
    font-size: var(--fs-16);
    padding: 0.5rem 0;
}

.profile-text p {
    font-size: var(--fs-18);
    max-width: 30ch;
}

.social-media {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.social-media button {
    border-radius: clamp(15px, 2vw, 19px);
    border: 1px solid var(--body-bg);
    background-color: var(--icons-bg);
    transition: transform 0.15s ease, background-color 0.15s ease;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media button:hover {
    cursor: pointer;
    background-color: var(--body-bg);
    transform: scale(1.05);
}

.account-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(24px, 6vw, 96px);
}

.progress-text {
    display: flex;
    flex-direction: row;
    gap: clamp(24px, 6vw, 96px);
    align-items: center;
    justify-content: space-between;
}

.progress-text p {
    font-size: var(--fs-18);
    padding-bottom: 0.5rem;
}

.progress img {
    width: clamp(12px, 10vw, 24px);
}

.progress-bar {
    width: 100%;
    height: 13px;
    background-color: var(--body-bg);
    border-radius: clamp(8px, 2vw, 10px);
    position: relative;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    background-color: #F17A37;
    position: absolute;
    width: 75%;
    height: 13px;
}

.follow p {
    font-size: var(--fs-24);
    text-align: right;
}

.follow p span {
    font-weight: bold;
}

.follow button {
    background-color: var(--text-color);
    color: var(--icons-bg);
    margin-top: clamp(10px, 2vw, 12px);
    width: 100%;
    border-radius: 8px;
    font-size: var(--fs-18);
    font-weight: bold;
    height: 65px;
}
@media(max-width: 767px) {

    .profile-header {
        flex-direction: column;
        text-align: center;
        padding: 1.8rem;
        gap: 2rem;
    }

    .progress-text {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
    }

    .progress-bar {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        position: relative;
    }

    .progress-bar::before {
        width: 75%;
        left: 0;
        top: 0;
    }

    .account-stats {
        align-items: center;
        gap: 1.5rem;
    }

    .follow p {
        text-align: center;
    }
}