:root {
    --radius: 43px;
    /* colors */
    --btn-bg: #1F2554;
    --card-bg: #FFFFFF;
    --body-bg: #F5F8FF;
    --active: #3FDEA5;
    --waiting: #DE783F;
    --away: #D1D1D1;
    --gradient-secondary: #3FDED5;
    /* font size*/
    --fs-14: clamp(0.8rem, 0.5vw + 0.6rem, 0.875rem);
    --fs-16: clamp(0.9rem, 1vw + 0.5rem, 1rem);
    --fs-18: clamp(1rem, 0.8vw + 0.7rem, 1.125rem);
    --fs-24: clamp(1.1rem, 1vw + 0.9rem, 1.5rem);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    place-content: center;
    background-color: var(--body-bg);
    font-family: "Poppins", sans-serif;
    color: var(--btn-bg);

}

main {
    width: min(617px, 100%);
    margin: 1rem;
    position: relative;
}

main::before {
    content: '';
    position: absolute;
    width: min(582px, 80%);
    height: min(646px, 80%);
    top: -5px;
    left: -30px;
    z-index: -1;
    border-radius: var(--radius);
    background: linear-gradient(135deg,
            var(--active) 0%,
            var(--gradient-secondary) 100%);
            margin: 1rem;
}

section {
    margin: 2rem;
    padding: clamp(1.5rem, 4vw, 5rem);
    border-radius: var(--radius);
    background-color: var(--card-bg);
    box-shadow: 0 47px 46px rgba(63, 222, 165, 0.2);
}

.messages__header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Merriweather';
    font-size: var(--fs-24);
    padding-bottom: 2rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--btn-bg);
    border: none;
    color: var(--body-bg);
    padding: 1.5rem;
    font-size: var(--fs-18);
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: 0.25s ease;
}

.btn:hover {
    background: linear-gradient(135deg, var(--btn-bg), var(--gradient-secondary));
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(63, 222, 165, 0.35);
}

.users {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.user:hover {
    background-color: var(--body-bg);
    cursor: pointer;
}

.user-img {
    position: relative;
    width: clamp(50px, 12vw, 78px);
    height: clamp(50px, 12vw, 78px);
    flex-shrink: 0;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-img::before {
    content: '';
    position: absolute;
    width: clamp(10px, 2vw, 20px);
    height: clamp(10px, 2vw, 20px);
    border: 3px solid var(--card-bg);
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(10%, 10%);
    z-index: 1;
}

.user:nth-child(1) .user-img::before,
.user:nth-child(3) .user-img::before {
    background-color: var(--active);
}

.user:nth-child(2) .user-img::before {
    background-color: var(--waiting);
}

.user:nth-child(4) .user-img::before {
    background-color: var(--away);
}

.user__about {
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 4px;
}

.user__header {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.user__name {
    font-size: var(--fs-18);
    max-width: 60%;
}

.user__message {
    font-size: var(--fs-18);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user__last-seen {
    text-align: right;
    font-size: var(--fs-14);
    opacity: 0.7;
    white-space: nowrap;
    max-width: 40%;
}
